.container{
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: black;
    font-size: 1em; */
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #fff;
    box-shadow: black;
}
/* input:invalid {
    -webkit-box-shadow: 0 0 3px red;
    box-shadow: 0 0 3px red;
} */
.input-name{
    width: 15em;
}
.input-email{
    width: 15em;
}
.input-telefone{
    width: 14em;
}
.select{
    width: 10em;
}
.input-idade{
    width: 30px;
}

button:hover,
button:focus {
    background-color: #e9e9e9;
}
.botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d3d3d3;  
    margin-top: 1em;
    width: 20em;
    text-align: center;
}

.map{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: #e9e9e9;
    width: 17em;
}

.botaoFechar{
display: flex;
justify-content: center;
align-self: flex-end;
text-align: center;
 right: 10px;
 width: 6px;
 height: 20px;
}

.botao-x{
    display: flex;
    justify-content: center;
    padding-bottom: 0%;
    padding: 0px 0px 50px 0px ;
    align-self: flex-end;
}
